.user_decks_container {
    border-radius: 5px;
    color: rgb(52, 200, 33);
    margin-left: 50px;
    margin-top: 50px;
    font-family: 'Fondamento', cursive;
    border: 2px gray solid;
    background: rgba(0,0,0,.90);
    padding-top: 10px;
    padding-bottom:  10px;
    display: flex;
    flex-direction: column;
    width: 350px;
}

.create_deck {
    padding-top: 5px;
    color: rgb(52, 200, 33);
    text-decoration: none;
    font-size: 24px;
    margin-left: 10px;
    border: 2px gray solid;
    text-align: center;
    padding-bottom: 5px;
    width: 120px;
}


.glow-red:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 5px 15px rgba(238, 36, 0, 0.4);
  }

.deckTile {
    color:rgb(52, 200, 33);
    border: 2px gray solid;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 10px;
    width: 325px;
    display: flex;
    flex-direction: column;
}

.deck_name {
    display: flex;
    color: rgb(52, 200, 33);
    justify-content: center;
    align-items: center;
    border: 1px gray solid;
    padding: 5px;
    max-width: 180px;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    top: 20px;
    left: 10px;
}

.deck_delete, .edit_deck {
    display: flex;
    border: 1px gray solid;
    padding-top: 2px;
    margin-top: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background: rgba(0,0,0,0);
    font-family: 'Fondamento', cursive;
    font-size: 16px;
    width: 100px;
    height: 40px;
    position: relative;
    left: 215px;
    bottom: 5px;
}

.deck_delete:hover {
    cursor: pointer;
}

.deck_delete {
    color: darkred;
}