* {
    box-sizing: border-box;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create_container {
    font-family: 'Fondamento', cursive;
    color: rgb(52, 200, 33);
    align-items: center;
    border: 2px gray solid;
    border-radius: 5px;
    background: rgba(0,0,0,.90);
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    top: 100px;
    width: 500px;
}

.create_form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}

.create_field {
    border: 0;
}

.create_legend {
    letter-spacing: 1px;
    font-size: 24px;
    text-decoration: underline;
}

.create_input {
    background: rgba(53, 53, 53, 0.75);
    color: rgba(177, 177, 177);
    display: flex;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.create_label {
    font-size: 20px;
}


.create_card_image {
    display: flex;
    max-width: stretch;
    margin: 0 auto;
}

.create_card_select {
    background: rgba(53, 53, 53, 0.75);
    color: rgba(177, 177, 177);
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
}

.create_add_card {
    color: rgb(52, 200, 33);
    border: 1px gray solid;
    border-radius: 5px;
    margin-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
}

.create_list {
    text-align: left;
    width: 200px;
    list-style-type: none;
}

.create_button {
    cursor: pointer;
    background: rgba(0,0,0,0);
    font-family: 'Fondamento', cursive;
    font-size: 20px;
    color: rgb(52, 200, 33);
    border: 2px gray solid;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.text_area {
    background: rgba(41, 40, 40, 0.9);
    color: rgba(177, 177, 177);
    font-size: 16px;
    resize: none;
    overflow-y: scroll;
    margin: 0 auto;
    width: 400px;
    height: 200px;
}

.create_back {
    width: 125px;
    color: rgb(52, 200, 33);
    margin: 0 auto;
    border: 2px gray solid;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    background: rgb(0,0,0,.95);
    font-size: 20px;
    font-family: 'Fondamento', cursive;
    text-decoration: none;
}