img {
    max-width: 200px;
}

.deck_container {
    background: rgba(0, 0, 0, 0.9);
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px black solid;
    margin: 0 auto;
    max-width: 600px;
}

.deck_summary {
    display: flex;
    background: rgba(5, 92, 10, 0.13);
    color: gray;
    font-size: 18px;
    text-align: left;
    padding: 10px;
    border: 1px gray solid;
    max-width: 600px;
}

.deck_title {
    text-align: center;
}

.about_deck {
    text-align: center;
}

.card {
    position: relative;
    right: 20px;
    list-style-type: none;
}

.back_button {
    margin: 0 auto;
    margin-top: 15px;
    padding-bottom: 5px;
    text-align: center;
    font-size: 20px;
    border: 1px black solid;
    width: 100px;
}