img {
    max-width: 200px;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deck_container {
    font-family: 'Uncial Antiqua', cursive;
    color: rgb(115, 5, 179);
    align-items: center;
    border: 3px gray solid;
    border-radius: 5px;
    background: rgba(0,0,0,.90);
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    top: 200px;
    width: 585px;
}

.deck_title {
    color: rgb(115, 5, 179);
    text-align: center;
    font-size: 30px;
}

.deck_summary {
    background: rgba(0,0,0,0);
    border: 3px rgba(124, 124, 124, 0.849) solid;
    font-family: 'Trebuchet MS';
    color: gray;
    font-size: 16px;
    text-align: left;
    padding: 10px;
    border: 1px gray solid;
    max-width: 600px;
}


.card {
    margin-top: 2px;
    display: flex;
    flex-direction: row;
    width: 200px;
    list-style-type: none;
}

.card_title {
    color: rgb(115, 5, 179);
    justify-content: center;
    align-items: center;
    /* text-decoration: none; */
    font-size: 18px;
}

.deck_about {
    font-size: 24px;
    text-align: center;
}

.deck_back {
    background: rgba(0,0,0,.90);
    color: rgb(115, 5, 179);
    font-size: 24px;
    font-family: 'Uncial Antiqua', cursive;
    width: 110px;
    text-align: center;
    text-decoration: none;
    border: 2px gray solid;
    border-radius: 5px;
    position: relative;
    top: 210px;
}