* {
    box-sizing: border-box;
}

.login_container {
    align-items: center;
    border: 1px gray solid;
    background: rgba(0,0,0,.90);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    top: 200px;
    width: 350px;
}

.login_form {
    text-align: center;
    background: rgba(0,0,0,0);
}

.login_field {
    border: 0;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    margin: auto;
    max-width: 400px;
}

.login_legend {
    font-size: 24px;
    font-weight: bold;
    color: rgb(36, 179, 0);
    margin-bottom: 10px;
    text-decoration: underline;
}

.login_label {
    color: rgb(36, 179, 0);
    font-size: 22px;
    font-weight: 
}

.login_input {
    background: rgba(113, 112, 114, 0.50);
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.login_submit {
    background: rgba(0,0,0,.90);
    color:  rgb(36, 179, 0);
    border: 1px rgb(36, 179, 0) solid;
    border-radius: 5px;
    height: 30px;
    margin: 0 auto;
    margin-top: 25px;
    width: 125px;
    font-size: 20px;
}