* {
    box-sizing: border-box;
}

.login_container {
    font-family: 'Fondamento', cursive;
    align-items: center;
    border: 1px gray solid;
    background: rgba(0,0,0,.90);
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    top: 200px;
    width: 350px;
}

.login_form {
    color: rgb(52, 200, 33);
    text-align: center;
}

.login_field {
    border: 0;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    margin: auto;
    max-width: 400px;
}

.login_legend {
    font-size: 24px;
    text-decoration: underline;
    margin-bottom: 10px;
}

.login_label {
    font-size: 22px;
    font-weight: 
}

.login_input {
    color: white;
    text-align: center;
    background: rgb(66, 66, 66);
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.login{
    background: rgba(0,0,0,.90);
}