.App {
    display: flex;
    margin: 40px;
    min-height: calc(100vh - 80px);
}

body {
    margin-top: -25px;
    padding-bottom: 25px;
    background: url("resources/deckbuilder-background.png") no-repeat center center fixed;
}