.nav {
   margin-top: 20px;
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-evenly;
   text-align: right;
   font-size: 20px;
   font-weight: bold;
}

.login, .logout, .home {
   cursor: pointer;
   background: rgba(0,0,0,.90);
   text-decoration: none;
   font-family: 'Fondamento', cursive;
   color: rgb(52, 200, 33);
   border: 2px gray solid;
   letter-spacing: 2px;
   font-size: 20px;
   border-radius: 5px;
   padding-left: 25px;
   padding-right: 25px;
   padding-bottom: 7px;
   padding-top: 5px;
   margin-right: 10px;
}



.glow-button:hover {
   color: rgb(255, 255, 255);
   box-shadow: 0 5px 15px rgba(30, 255, 0, 0.4);
 }

 .hidden {
    display: none;
 }

