* {
    box-sizing: border-box;
}

.reg_container {
    font-family: 'Uncial Antiqua', cursive;
    background: rgba(0,0,0,.90);
    align-items: center;
    border: 1px gray solid;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    top: 200px;
    width: 350px;
}

.reg_form {
    text-align: center;
    background: rgba(0,0,0,0);
    color: rgb(115, 5, 179);
}

.reg_field {
    border: 0;
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    margin: auto;
    max-width: 400px;
}

.reg_legend {
    font-size: 28px;
    margin-bottom: 10px;
    text-decoration: underline;
}

.reg_label {
    font-size: 22px;
    font-weight: 
}

.reg_form_input {
    background: rgba(61, 61, 61, 0.815);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    margin: 0 auto;
    margin-bottom: 10px;
}

.reg_submit {
    color: rgb(115, 5, 179);
    background: rgba(0, 0, 0, .01);
    font-family: 'Uncial Antiqua', cursive;
    text-decoration: none;
    border-radius: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px gray solid;
    font-size: 24px;
    display: flex;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
    justify-content: center;
    text-align: center;
    width: 150px;
}

.red {
    color: red;
    font-family: 'Trebuchet MS'
}